/* Common Styles */

html {
	background-color: #363636;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
}

i {
	cursor: pointer;
}

/* Common Styles End */

/* App Styles */

header {
	position: relative;
}

/* Navbar styles */

.navbar {
	display: flex;
	justify-content: flex-end;
	height: 100px;
	background-color: #2e92df;
	font-size: 36px;
	position: relative;
}

.navbar ul {
	margin-right: 100px;
	display: flex;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.navbar .navbar__item {
	display: block;
	margin-left: 20px;
}

.navbar .navbar__item:first-child {
	margin-left: 0;
}

.navbar .navbar__item a {
	transition: 0.1s all;
}

.navbar .navbar__item a:hover {
	color: rgb(253, 139, 32);
}

/* Creates a bars */

.navbar__burger {
	display: none;
	font-size: 36px;
	cursor: pointer;
	height: 35px;
	width: 35px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

/* Navbar styles  End*/

/* Media Queris Start */

@media only screen and (max-width: 1199px) {
	.navbar__burger {
		display: block;
		left: 107.5px;
		cursor: pointer;
		z-index: 1;
	}

	.navbar ul {
		transition: 0.2s all;
		position: fixed;
		left: -100%;
		height: 100vh;
		width: 250px;
		background-color: #2e92df;
		flex-direction: column;
	}

	.navbar .navbar__item {
		margin-top: 40px;
		margin-left: 0;
		text-align: center;
	}

	.navbar .navbar__item:first-child {
		margin-top: 175px;
	}
}

/* Media Queris End */

/* App Styles End */
